<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Encurtador de URLs</title>
</head>
<body>
    <h1>ENCURTADOR DE LINKS</h1>
    <form method="post">
        <div class="campos">
                <div class="texto">
                    <label for="url">Link longo*</label>
                </div>
                <div class="campo">
                    <input type="text" name="url" id="url" required>
                </div>
                <div class="texto">
                    <label for="path">Nome curto*</label>
                </div>
                <div class="campo">
                    <input type="text" name="path" id="path" required>
                </div>
                <div>
                    <button type="submit" class="botao">Gerar URL</button>
                </div>
            </div>
        </form>
    </body>
</html>